body {
    background: #999;
}

.board {
    width: 330px;
    height: 330px;
    position: absolute;
    top: 60px;
    left: 60px;
    border: darkblue groove 3px;
    padding: 30px;
    background-image: url("../img/wood_bg.jpg");
    background-size: auto;
    color: #AAAAAA;
    font-size: larger;
}

table {
    position: relative;
    left: auto;
    right: auto;
}

.boardTd {
    width: 90px;
    height: 90px;
    border: darkgray groove 3px;
    background: #AAA;
    font-size: 75px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.x {
    color: #000;
    text-shadow: #DDD 1px 1px;
}

.o {
    color: #FFF;
    text-shadow: #000 1px 1px;
}

.error {
    display: none;
    padding: 9px;
    color: #CC0000;
    background: #000;
    text-align: center;
    text-decoration: underline;
}

a {
    color: #666;
    text-decoration: none;
}

.winCell {
    font-size: 81px;
    background: #00AA00;
}